metadata:
  labels:
    some-label: some-label-value
    class: KubernetesDeclarativeAgentTest
spec:
  containers:
    - name: cli
      image: registry.devops.rivtower.com/cita-cloud/operator/test-ci:v0.0.1
      command:
        - cat
      tty: true
      imagePullPolicy: Always
      volumeMounts:
        - name: kube-config
          mountPath: /root/.kube
  volumes:
    - name: kube-config
      configMap:
        defaultMode: 0600
        name: integration-test-kube-config